<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Word Beater</title>
		
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		
        <link rel = "stylesheet" href="/stylesheets/main.css">
		
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap" rel="stylesheet">
		
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> 
    </head>

    <body class="bg-dark text-white ">
       <header class="text-center p-2 mb-2">
             <h2>WordBeater</h2>
           </header>