header{
    font-family: 'Lobster', cursive;
}


/* 
body{
    font-family: 'Dancing Script', cursive;
} */

#stripe{
    background-color: white;
    /* text-align: center; */
    height:40px;
}

.selected{
    background-color: #343a40;
    color:white;
}

#input-word{
    width:70%;
}

button{
    background: none;
    border:none;
    text-transform: uppercase;
    height:40px;
    color:#343a40;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 550;    
}

@media only screen and (min-width: 1086px) {

#auth{
	position:absolute;
	right:0;
}  
}



@media only screen and (max-width: 1086px) {

#auth{
	display:none;
}  
}



@media only screen and (min-width: 1086px) {

#authr{
	display:none;
}  
}



@media only screen and (max-width: 1086px) {

#authr{
	
}  

	p{
		font-size:1.2rem;
	}	
	
	.authbuttonr{
		color:white;
	}
	
	.authbuttonr:hover{
		color:steelblue;
	}	
	
}

button:hover{
    background-color: #343a40;
    color: white;
}

.authbutton{
	font-size:1rem;
}

.currentuser{
	font-size:1rem;
	font-family: 'PT Sans Narrow', sans-serif;
}

.currentuser:hover{
	background-color:white;
	color:#343a40
}

/*.me{
    background: url("https://api.sololearn.com/Uploads/Avatars/12876414.jpg")no-repeat center/contain;
     
    width: 60px;
    height: 60px;
    bottom: 35px;
    right: 16px;
    display: block;
    position: fixed;
    z-index: 9999;
    border-radius: 50%;
    animation: me 2s linear infinite alternate;
}

@keyframes me{
    from{
        transform: translateY(-7px)
    }

    to{
        transform: translateY(7px)
    }
} */